{
  :football-data-api-token #env FOOTBALL_DATA_API_TOKEN

  :discord-api-token          #env DISCORD_API_TOKEN
  :discord-event-channel-size 100

  :daily-schedule-discord-channel-id "686396574104158228"   ; Watching Games Together > #game-listings

  :match-reminder-duration-mins 15

  :country-to-channel-map {
    "EUR" "683856917122121734"       ; League Discussions > #international
    "INT" "683856917122121734"       ; League Discussions > #international
    "ENG" "683856416351846441"       ; League Discussions > #england
    "DEU" "687660279189995554"       ; League Discussions > #germany
    "ITA" "687660332981944321"       ; League Discussions > #italy
    "ESP" "687659858476138582"       ; League Discussions > #spain
    "USA" "683856451583869019"       ; League Discussions > #north-america
    "CAN" "683856451583869019"       ; League Discussions > #north-america
    "MEX" "683856451583869019"       ; League Discussions > #north-america
  }
  :default-reminder-channel-id "710316975393341511"       ; League Discussions > #other

  :muted-leagues [
    "Championship"   ; England 2nd division
    "Série A"        ; Brazil
    "Serie A"        ; Italy
    "Primeira Liga"  ; Portugal
  ]

  :referee-emoji {  ; To determine these values, go into a chat and type "\:emojishortcut:" - Discord will automatically convert it into the form shown below, which includes the emoji id
    "Mike Dean"         "<:mikedean:724348558601486390>"
    "Michael Oliver"    "<:michaeloliver:725406887603863562>"
    "Pierluigi Collina" "<:collina:725056633457082459>"
    "Anthony Taylor"    "<:anthonytaylor:730103009735999559>"
  }
}
