{
  :football-data-api-token #env FOOTBALL_DATA_API_TOKEN

  :discord-api-token          #env DISCORD_API_TOKEN
  :discord-event-channel-size 100

  :daily-schedule-discord-channel-id "686396574104158228"   ; League Discussions > #game-listings

  :match-reminder-duration-mins 15

  :country-to-channel-map {
    "EUR" "683856917122121734"                       ; League Discussions > #international
    "INT" "683856917122121734"                       ; League Discussions > #international
    "ENG" "683856416351846441"                       ; League Discussions > #england
    "DEU" "687660279189995554"                       ; League Discussions > #germany
    "ITA" "687660332981944321"                       ; League Discussions > #italy
    "ESP" "687659858476138582"                       ; League Discussions > #spain
    "USA" "683856451583869019"                       ; League Discussions > #north-america
    "CAN" "683856451583869019"                       ; League Discussions > #north-america
    "MEX" "683856451583869019"                       ; League Discussions > #north-america
  }
  :default-reminder-channel-id "710316975393341511"  ; League Discussions > #other (fallback)

  :muted-leagues [
    "Championship"   ; England 2nd division
    "Série A"        ; Brazil
    "Primeira Liga"  ; Portugal
  ]

  :referee-emoji {  ; To determine these values, go into a chat and type "\:emojishortcut:" - Discord will automatically convert it into the "extended" form shown below, which is required for a bot to send custom emoji
    "Mike Dean"         "<:mikedean:724348558601486390>"
    "Michael Oliver"    "<:michaeloliver:725406887603863562>"
    "Pierluigi Collina" "<:collina:725056633457082459>"
    "Anthony Taylor"    "<:anthonytaylor:730103009735999559>"
    "Stuart Attwell"    "<:stuartattwell:731931016360362004>"
    "Corey Rockwell"    "<:coreyrockwell:730613554369265684>"
    "Craig Pawson"      "<:craigpawson:731931653416681543>"
    "Graham Scott"      "<:grahamscott:731589640565293107>"
    "Brian Poeschel"    "<:brianpoeschel:730614703541190756>"
    "Andy Madley"       "<:andymadley:731547809890697278>"
    "Andrew Madley"     "<:andymadley:731547809890697278>"
    "Andrew Marriner"   "<:andremarriner:731547751057195050>"
    "Martin Atkinson"   "<:martinatkinson:733766335355682846>"
    "Tim Ford"          "<:timford:732030914607186010>"
    "Timothy Ford"      "<:timford:732030914607186010>"
  }

  :quiz-channel-id  "771086596644274216"  ; Refereeing > quizzes-and-videos
  :video-channel-id "771086596644274216"  ; Refereeing > quizzes-and-videos

  :ist-channel-ids ["683853455038742610"   ; General > Memes and Junk
                    "701813682430279712"   ; General > bots
                    "723309028725227532"]  ; Admin > Testing

  :youtube-api-token #env YOUTUBE_API_TOKEN
  :youtube-channels {
    "UCxdPyM0KXNhXGUChb1FaJSA" "<:frva:791780784754655233>"      ; Football Victoria Referees
    "UCosXVB8eY3iF26k6iTHW9gw" "<:concacaf:791778812736045097>"  ; CONCACAF Center of Refereeing Excellence
    "UCDWmPEiV6UehDyq-0yoigmQ" "<:pro:778688391608926278>"       ; PROreferees
    "UCRvL3eeBF3MFGFn6vnqR0nw" nil                               ; WASRC Webinars
    "UCcMv5IAlVBy-7oHt7pdiLxQ" nil                               ; RWISOA Referees
    "UCH4fZCsZ3_4rPIzEeLbcLGA" nil                               ; Ahmed Habib's Referee Channel
    "UCjlAAUxk70KurpcLWcFL8Mg" nil                               ; Victor Karimi's Referee Channel
    "UCfWpYhMIs2xqq7-v9HDAxuQ" "<:cnra:769311341751959562>"      ; Matthew Buckman (CNRA)
    "UCjOMOGOifZ1NwpAgCXv0-rw" "<:refsix:791761342234624030>"    ; REFSIX
    "UCmzFaEBQlLmMTWS0IQ90tgA" "<:ist:733173880403001394>"       ; IST
  }
  :default-youtube-emoji "<:youtube:771103353454460938>"
}
