(
  ", DRUNK KAREN"
  ", DRUNK PARENTS"
  ", DRUNK CLUB LINESPERSON"
  ", DRUNK IST CAMERAMAN"
  "INSANE DRUNK KAREN"
  "INSANE DRUNK PARENTS"
  "INSANE DRUNK CLUB LINESPERSON"
  "INSANE DRUNK IST CAMERAMAN"
  "UNBELIEVABLE DRUNK KAREN"
  "UNBELIEVABLE DRUNK PARENTS"
  "UNBELIEVABLE DRUNK CLUB LINESPERSON"
  "UNBELIEVABLE DRUNK IST CAMERAMAN"
  "UNBELIEVABLE REF FLYING NINJA KICK"
  "UNBELIEVABLE REFEREE FLYING NINJA KICK"
  "SPECTACULAR REF FLYING NINJA KICK"
  "SPECTACULAR REFEREE FLYING NINJA KICK"

  "ROCKET LEAGUE SMACK TALK"
  "AMONG US SMACK TALK"
  "League of Legends SMACK TALK"
  "RuneScape SMACK TALK"

  "KAREN DROPS GRANDE FRAPPAWANKACHINO"
  "KAREN YELLS OBSCENITIES"
  "KAREN EMBARRASSES HERSELF"
  "KAREN SMASHED BY BALL"
  "KAREN SHAT ON BY BIRD"
  "BIRD SHITS ON DRUNK KAREN"

  "DRUNK KAREN YELLS AT REFEREE"
  "DRUNK KAREN DROPS VODKA TONIC"
  "DRUNK KAREN DROPS GIN AND TONIC"
  "DRUNK KAREN DROPS MARGARITA"
  "DRUNK KAREN DROPS MARTINI"
  "DRUNK KAREN DROPS BACARDI AND COKE"
  "DRUNK KAREN DROPS F BOMB"
  "DRUNK KAREN DROPS PANTS"
  "DRUNK KAREN PASSES OUT"
  "DRUNK KAREN PEES HER PANTS"
  "DRUNK KAREN FLYING NINJA KICKS REFEREE"
  "DRUNK KAREN MAYHEM"
  "DRUNK KAREN EMBARRASSED BY REFEREE"
  "DRUNK KAREN EMBARRASSED BY U14 REFEREE"
  "DRUNK KAREN EMBARRASSED BY U14'S"
  "DRUNK KAREN EMBARRASSED BY BALL"
  "DRUNK KAREN FC vs AFC CLUB LINESPERSON"

  "CLUB LINESPERSON DROPS FLAG"
  "CLUB LINESPERSON DROPS GRANDE FRAPPAWANKACHINO"
  "CLUB LINESPERSON LOSES SHIT"

  "HOME TEAM KIT IS PURE FIRE #SmalasKitReview"
  "AWAY TEAM KIT IS PURE FIRE #SmalasKitReview"
  "HOME TEAM KIT IS TRASH #SmalasKitReview"
  "AWAY TEAM KIT IS TRASH #SmalasKitReview"
)
