{:hash "296ba437132c510164b7f2a98391bbb3e72fc201",
 :status
 "On branch dev\nYour branch is up to date with 'origin/dev'.\n\nnothing to commit, working tree clean",
 :date #inst "2021-03-19T18:24:18.775960Z"}
